---
layout: default
---
<!-- Comentarios Facebook -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v9.0&appId=185900039936353&autoLogAppEvents=1"
    nonce="4uBXwWkT"></script>


{% include site-header.html %}

<main class="main  container">

    <article class="article  article--post  content  typeset">

        <h1>{{ page.title }}</h1>
        {% include post-meta.html %}
        {{ content }}

        <div class="fb-comments" data-href="https://jesus1554.github.io/" data-width="100%" data-numposts="5"></div>

        <h2>Comparte: </h2>
        {% include nav-share.html %}



    </article>

    {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}